{
    "env": {
        "browser": false,
        "node": true
    },
    "rules": {
        "quotes": [1, "double"],
        "new-cap": [2, {
            "capIsNewExceptions": ["Q", "Promise"]
        }],
        "no-multi-spaces": [0],
        "no-spaced-func": [0],
        "no-multiple-empty-lines": [2],
        "no-trailing-spaces": [2],
        "max-statements": [2, 22],
        "complexity": [2, 8]
    },
}
